<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{url_for('static', filename='graph.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
       
    </style>
    <title>Homeoffice 2024</title>
</head>
<body>
    <div style="width: 500px;">
        <canvas id="dimensions"></canvas>
    </div><br/>   
    <div>
        <canvas id="myChart"></canvas>
    </div>
</body>
</html>


 
  
   