<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <style>
       
    </style>
    <title>Homeoffice 2024</title>
</head>
<body>
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <div id="menu">
            <button id="menuButton" onclick="toggleMenu()">Main Menu ☰</button>    
            <a id="data_general" href="data.html" onclick = "localStorage.tableName = 'data_general'; localStorage.linkText = 'Homeoffice General Data' ">Homeoffice General Data</a>
            <a id="data_men" href="data.html" onclick = "localStorage.tableName = 'data_men'; localStorage.linkText ='Men in Homeoffice Data' ">Men in Homeoffice Data</a>
            <a id="data_special" href="data.html" onclick = "localStorage.tableName = 'data_special'; localStorage.linkText = 'Homeoffice Special Data' ">Homeoffice Special Data</a>
            <a id="data_advantages" href="data.html" onclick="localStorage.tableName = 'data_advantages'; localStorage.linkText='Homeoffice: Advantages' ">Homeoffice: Advantages</a>
            <a id="data_disadvantages" href="data.html" onclick="localStorage.tableName = 'data_disadvantages'; localStorage.linkText='Homeoffice: Disadvantages' ">Homeoffice: Disadvantages</a>
            <a id="data_european_comparation" href="data.html" onclick="localStorage.tableName = 'data_european_comparation'; localStorage.linkText='Homeoffice in Europe' ">Homeoffice in Europe</a>
            <a id="video_list" href="video_menu_list.html">Homeoffice: Video Statements</a>
            <a id="slideShow" href="slide_show_menu.html">Slideshows</a>
            <a id="wsi_report" href="wsi_report.html">WSI Report 65, April 2021</a>
            <a id="boeckler_article" href="boeckler_article.html">Homeoffice Article</a>
        </div>
       
        <div id="content">
            <h2>Homeoffice reporting tool</h2>
        </div>

        <div id="front_page_image">
            <img id="picture" src="{{ url_for('static', filename='images/images_3.jpg') }}">
        </div>
                  
         
</body>
</html>
