<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <style>
       
    </style>
    <title>Homeoffice 2024</title>
</head>
<body>
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <div id="menu">
            <button id="menuButton" onclick="toggleMenu()">☰</button>    
            <a href="data_general.html">Homeoffice General Statistic</a>
            <a href="data_men.html">Men in Homeoffice Statistic</a>
            <a href="data_special.html">Homeoffice Special Statistic</a>
            <a href="data_advantages.html">Adavantages of Homeoffice</a>
            <a href="data_disadvantages.html">Disadvantages of Homeoffice</a>
            <a href="data_european_comparation.html">Homeoffice compared with Europe</a>
        </div>
       
        <div id="content">
            <h2>Homeoffice reporting tool</h2>
        </div>
</body>
</html>
