<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script src="{{url_for('static', filename='auth.js')}}"></script>
		<style>
		   
		</style>
		<title>Homeoffice 2024</title>
	</head>

<body>

	<h2>Modal Login Form</h2>
	<!--Step 1 : Adding HTML-->
	<button onclick=
"document.getElementById('id01').style.display='block'" style="width:auto;">
	Login
	</button>

	<div id="id01" class="modal">

		<form class="modal-content animate"
			action="/login" method="POST">
			<div class="imgcontainer">
				<span onclick="document.getElementById('id01').style.display='none'"
					class="close"
					title="Close Modal">×</span>
			</div>

			<div class="container">
				<label><b>Username</b></label>
				<input type="text" placeholder="Enter Username"
					name="uname" required>

				<label><b>Password</b></label>
				<input type="password" placeholder="Enter Password"
					name="psw" required>

				<button type="submit" id="submit">Login</button>
				<input type="checkbox" checked="checked">Remember me
			</div>

			<div class="container"
				style="background-color:#f1f1f1">
				<button type="button"
						onclick="document.getElementById('id01').style.display='none'"
					class="cancelbtn">Cancel</button>
				<span class="psw">Forgot <a href="#">password?</a></span>
			</div>
		</form>
	</div>

	<script>
		var modal = document.getElementById('id01');
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
	<div>
        <p>
            <button onclick="openUserEditor()">CREATE USER</button>    
        </p>
    </div>
	 <div id="add_user">
            <div class="user_container">
                <h2>Add User</h2>
                <label for="username">Username:</label>
                <input type="text" id="username">
                <br>
                <label for="Password">Password:</label>
                <input type="password" id="password">
                <br>
            </div>    
            <div class="button_container">
                <button onclick="saveUser()">Save User</button>
                <button onclick="closeUserEditor()">Cancel</button>
            </div>    
        </div>
</body>

</html>
