<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Remote from Gitlab</title>
</head>
<body>
    <div style="text-align: center">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT5qXF50J12Vyu6EoJRe13_LkQTvo2oF5SuZLk3pzQmGJbkJRP629y0WA8qNGXqRoyGXNL4ysHc7a2I/embed?start=false&loop=false&delayms=10000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>  
</body>
</html>