<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/video.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Remote from Gitlab</title>
</head>
<body>
    <div>
        <h1 style=" text-align: center">Video List</h1>
    </div>

    <div>
        <a href="index.html">
            <button id="main_menu" onclick="goBack()">Main Menu  ☰</button>    
        </a>
    </div>    
    <div id="link_container">
       <div>
            <a href="video_1.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_1.png') }}"></a>
        </div>    
        <div>
            <a href="video_2.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_2.png') }}"></a>
        </div>  
        <div>
            <a href="video_3.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_3.png') }}"></a>
        </div>  
        <div>
            <a href="video_4.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_4.png') }}"></a>
        </div>  
        <div>
            <a href="video_5.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_5.png') }}"></a>
        </div>  
        <div>
            <a href="video_6.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_6.png') }}"></a>
        </div>  
        <div >
            <a href="video_7.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_7.png') }}"></a>
        </div>  
</div>
</body>
</html>