<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/video.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Remote from Gitlab</title>
</head>
<body>
    <div>
        <h1 style=" text-align: center">Video List</h1>
    </div>

    <div>
        <a href="index.html">
            <button id="returnButton" onclick="goBack()">Main Menu  ☰</button>    
        </a>
    </div>    
    <div id="link_container">
       <div>
            <a href="video_1.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_1.png') }}"></a>
        </div>    
        <div>
            <a href="video_2.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_2.png') }}"></a>
        </div>  
        <div>
            <a href="video_3.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_3.png') }}"></a>
        </div>  
        <div>
            <a href="video_4.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_4.png') }}"></a>
        </div>  
        <div>
            <a href="video_5.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_5.png') }}"></a>
        </div>  
        <div>
            <a href="video_6.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_6.png') }}"></a>
        </div>  
        <div >
            <a href="video_7.html"><img  width="20%" height="20%" src="{{ url_for('static', filename='images/video_7.png') }}"></a>
        </div>  
</div>

    <!-- <div style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aMxFcrCg4To?si=AlyAcUfmWaw01ltO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    </div> 
    <div style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LktfiaxjTIc?si=edDaeLEuM1ckZ8Pn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div style="text-align: center">    
        <iframe width="560" height="315" src="https://www.youtube.com/embed/u__6KRlb-qU?si=XyvwGrSDd-UmHGKa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qOoiWVgWbYY?si=8G3sfUXARJl700DD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>        
    <div style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Dl2Dktlm1o8?si=ADCkmELW9uk7iWNz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>    
    <div style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l9jmb8TE7sw?si=ai255fyIG-8tHqck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>    
    <div style="text-align: center">                            
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6BstoFpubUg?si=hpnSQ43P-QlqYE3X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div> -->
     
</body>
</html>