<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/video.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Remote from Gitlab</title>
</head>
<body>
    <div>
        <a href="video_menu_list.html">
            <button id="video_list" onclick="goBack()">Video Menu ☰</button>    
        </a>
    </div> 
    <div style="text-align: center">
       
    </div>   
</body>
</html>