<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/video.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{url_for('static', filename='video_source.js')}}"></script> 
</head>
<body>
    <div>
        <a href="video_menu_list.html">
            <button id="video_list" onclick="goBack()">Video Menu ☰</button>    
        </a>
    </div> 
    <div style="text-align: center">
        <iframe id="video_source" width="800" height="500" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    </div> 
</body>
</html>