<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/video.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>Remote from Gitlab</title>
</head>
<body>
    <div>
        <h1 style=" text-align: center">Video List</h1>
    </div>

    <div>
   
            <button id="main_menu" onclick="goToHomePage()">Main Menu  ☰</button>    
     
    </div>
   
    <div id="link_container">
        <div>
            <img id="0" width="20%" height="20%" src="{{ url_for('static', filename='images/video_1.png') }}">
        </div>    
        <div>
            <img id="1" width="20%" height="20%" src="{{ url_for('static', filename='images/video_2.png') }}">
        </div>  
        <div>
            <img id="2" width="20%" height="20%" src="{{ url_for('static', filename='images/video_3.png') }}">
        </div>  
        <div>
            <img id="3" width="20%" height="20%" src="{{ url_for('static', filename='images/video_4.png') }}">
        </div>  
        <div>
            <img id="4"  width="20%" height="20%" src="{{ url_for('static', filename='images/video_5.png') }}">
        </div>  
        <div>
            <img id="5" width="20%" height="20%" src="{{ url_for('static', filename='images/video_6.png') }}">
        </div>  
        <div >
            <img id="6" width="20%" height="20%" src="{{ url_for('static', filename='images/video_7.png') }}">
        </div>  
</div>
<script src="{{url_for('static', filename='video_menu.js')}}"></script>  
</body>
</html>