<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/video.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Remote from Gitlab</title>
</head>
<body>
    <div>
        <a href="video_menu_list.html">
            <button id="returnButton" onclick="goBack()">Video Menu ☰</button>    
        </a>
    </div> 
    <div style="text-align: center">
        <iframe width="800" height="500"src="https://www.youtube.com/embed/qOoiWVgWbYY?si=8G3sfUXARJl700DD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>          
</body>
</html>